.panel.panel-default
  .panel-heading
    %h2 profiles
  .panel-body
    %table#profiles
      %thead
        %tr
          %th customer
          %th status
          %th Gender
          %th Website
          %th User name
          %th
          %th
          %th

      %tbody
        - @profiles.each do |profile|
          %tr
            %td= profile.person.name
            %td
              - if profile.status
                %input{checked: 'checked',class: 'profile_check', id: profile.id, data: { toggle: 'toggle', off: 'inactive', on: 'active'}, onclick: "change_status(#profile.id)", type: 'checkbox'}
              - else
                %input{ data: { toggle: 'toggle', off: 'inactive', on: 'active'}, class: 'profile_check', id: "#{profile.id}", onclick: "change_status(#profile.id)", type: 'checkbox'}

            %td
              - if profile.gender == 'Male'
                %button.btn.btn-info= profile.gender
              - else
                %button.btn.btn-warning= profile.gender
            %td= profile.website
            %td= profile.name
            %td= link_to 'Show', profile,class: 'btn btn-primary'
            %td= link_to 'Edit', edit_profile_path(profile),class: 'btn btn-primary btn-xs'
            %td= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger"

    %br
      = link_to 'New Profile', new_profile_path ,class: 'btn btn-primary'
