%p#notice= notice

%p
  %b Name:
  = @profile.name
%p
  %b status:
  = @profile.status
%p
  %b Gender:
  = @profile.gender
%p
  %b Website:
  = @profile.website
%p
  %b Person:
  = @profile.person_id

= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
