%p#notice= notice

%p
  %b Name:
  = @person.name
%p
  %b Email:
  = @person.email
%p
  %b Phone number:
  = @person.phone_number
%p
  %b Date of brith:
  = @person.date_of_brith

= link_to 'Edit', edit_person_path(@person),class: 'btn btn-primary'
\|
= link_to 'Back', people_path,class: 'btn btn-primary'
